<div class="h-100 bg-gradient">
  <div class="container bg-light w-50 pt-3 pb-4">
    <div class="text-center mb-3 text-black display-4">Sign Up</div>
    <%= render '"form", user: @user %>
  </div>
</div>
