<div class="h-100 bg-gradient">
  <div class="container bg-light w-50 pt-3 pb-4">
<<<<<<< HEAD
    <div class="text-center mb-3 text-black display-4"><% t "sign_up" %></div>
=======
    <div class="text-center mb-3 text-black display-4">Sign Up</div>
>>>>>>> sign in up mail
    <%= render "form", user: @user %>
  </div>
</div>
